.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 20px;
}

.nav-links a:hover {
    color: #EADDFF;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
}

.profileImageNav{
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(89, 0, 255);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 100;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        background-color: #1D1B20;
        padding-top: 4rem;
        transition: right 0.3s ease-in-out;
        z-index: 50;
        align-items: flex-start;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        width: 100%;
        margin: 0;
        padding: 1rem 2rem;
    }

    .nav-links a {
        display: block;
        width: 100%;
    }
}

