.product-container{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.961);
    text-align: left;
    position: relative;
  }

  .card img {
    width: 60px;
    height: auto;
    position: absolute;
    top: 45px;
    right: 15px;
  }

  .card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
  }

  .card span {
    font-size: 0.85rem;
    color: #999;
  }

  .addProductButton{
      background-color: #D0BCFE;
      color: #381E72;
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      font-size: 25px;
      margin-bottom: 20px;
      position: fixed;
      /* position: -webkit-sticky; */
      bottom: 0;
      left: 92%;
      cursor: pointer;
      font-weight: 900;
  }

  @media (max-width: 768px) {
    body {
      padding: 10px;
    }

    .card {
      max-width: 100%;
      
    }

    .card img {
      width: 80px;
      top: 10px;
      right: 10px;
      
    }

    .card h3 {
      font-size: 1rem;
    }

    .card p {
      font-size: 0.9rem;
    }

    .card span {
      font-size: 0.8rem;
    }
    .addProductButton{
      padding: 10px 15px;
      font-size: 18px;
      left: 70%;
      z-index: 999;
      margin-right: 5px;
  }
  }

  @media (max-width: 480px) {
    body {
      flex-direction: column;
      align-items: center;
    }

    .card {
      max-width: 90%;
      padding: 10px;
      z-index: 10;
    }

    .card img {
      width: 55px;
      top: 25px;
      right: 8px;
      z-index: -1;

    }

    .card h3 {
      font-size: 0.9rem;
    }

    .card p {
      font-size: 0.8rem;
    }

    .card span {
      font-size: 0.75rem;
    }
/* 
    .addProductButton{
      left: 75%;
      z-index: 999;
      margin-right: 5px;
  } */
  }

  .product-header-container{
    display: flex;
    justify-content: space-between;
  }

  .product-header-container h1{
    color: #fff;
  }

  .product-header-text{
    display: flex;
    line-height: 30px;
    justify-content: center;
    align-items:center;
    color: #fff;
  }

  .product-header-text p svg{
    
  }
  .product-header-text p{
    border: 1px solid #f7f2fa74;
    margin-left: 20px;
    padding: 0px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
  }

  .product-header-text p:hover{
    background-color: #E8DEF8;
    color: #000;
  }

  .home-icon{
    width: 24px;
    height: 24px;
    padding-top: 1px;
  }

  @media only screen and (max-width: 930px) {

  .product-main-container{
   
  }
    
  .product-header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #8b8b8b;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    background-color:#1D1B20;
    z-index: 999;
    }

  .product-header-container h1{
    color: #fff;
    text-align: left;
    margin-left: 10%;
  }

  .product-header-text{
    display: flex;
    line-height: 30px;
    justify-content: center;
    align-items:center;
    color: #fff;
  }

  .svg-hide{
    display: none;
  }
  .product-header-text p{
    border: 1px solid #f7f2fa74;
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 20px;
    font-size: 8px;
    cursor: pointer;
    font-weight: 600;
  }

  .product-header-text p:hover{
    background-color: #E8DEF8;
    color: #000;
  }

  .home-icon{
    width: 24px;
    height: 15px;
    padding-top: 7px;
  }

  }